NEXT_PUBLIC_ENVIRONMENT=DEVELOPMENT # Leave this as is for local development, in production you do not need to set this variable

# Transaction pooler
# add ?statement_timeout=60000 at the end if having connection problems
DATABASE_URL="postgresql://postgres.kxupwnfeohyhtdhrgvuu:YOURPASSWORD@aws-1-eu-north-1.pooler.supabase.com:6543/postgres?statement_timeout=60000"

# Session pooler
# DIRECT_URL="postgresql://postgres.kxupwnfeohyhtdhrgvuu:YOURPASSWORD@aws-1-eu-north-1.pooler.supabase.com:5432/postgres?statement_timeout=60000"

AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
RESEND_API_KEY=

# make sure prisma is fully up to date
# npm install @prisma/client